.displayContainer {
    height: 34vh;
    background-color: #15231e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}