.label {
    display: inline-block;
    margin-right: 1rem;
    width: 100px;
    color: azure;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}

.input {
    padding: 0.4rem;
    margin-bottom: 1rem;
    display: inline;
    width: 50%;
    font-size: 1rem;
    font-weight: 600;
    border: none;
}

.inputCorrect {
    background-color: azure;
}

.inputError {
    background-color: #BB0000C6;
}

.input:focus-visible {
    outline: none;
}